//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 08 10:11:49 2019
//! **************************************************************************

SCHEMATIC START;
COMP "co" LOCATE = SITE "E17" LEVEL 1;
COMP "xi<0>" LOCATE = SITE "K17" LEVEL 1;
COMP "xi<1>" LOCATE = SITE "K18" LEVEL 1;
COMP "xi<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "xi<3>" LOCATE = SITE "G18" LEVEL 1;
COMP "yi<0>" LOCATE = SITE "R17" LEVEL 1;
COMP "yi<1>" LOCATE = SITE "N17" LEVEL 1;
COMP "yi<2>" LOCATE = SITE "L13" LEVEL 1;
COMP "yi<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "zi<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "zi<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "zi<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "zi<3>" LOCATE = SITE "K14" LEVEL 1;
SCHEMATIC END;

