//! **************************************************************************
// Written by: Map P.20131013 on Tue Sep 17 09:42:57 2019
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "G18" LEVEL 1;
COMP "b" LOCATE = SITE "J14" LEVEL 1;
SCHEMATIC END;

